<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # If the request is not a real file or folder, redirect to index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
